
@media (max-width: 868px){

    body{
        background-image: url(../imagens/bg-mobile.svg);
    }
   
    .painel{
        margin-bottom: 100px;
    
    }

    .painel .img-painel .imagem{
        width: 400px;
        height: 400px;
        margin: auto;
    }

    .info-painel h1{
        font-size: 25px;
    }

}


@media (max-width: 425px){

    body{
        background-image: url(../imagens/bg-mobile.svg);
    }

    .painel{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .painel .img-painel .imagem{
        width: 300px;
        height: 200px;
        margin: auto;
    }

    .info-painel {
        height: auto;
    }


    .rodape .redes-sociais {
       justify-content: center;
        margin-top: 50px;
        text-align: center;
       
    }

    .rodape .redes-sociais a i{
        font-size: 16px;
        padding: 7px;
    }

    .cabecalho img{
        margin: 30px 0 60px 30px;
    }

}